name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    name: "${{ matrix.os }} with Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    env:
      USING_COVERAGE: "3.10"    

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update pip
      run: pip install -U pip
    - name: Install hatch
      run: pip install hatch
    - name: Install dependencies and run tests with coverage
      run: hatch run cov-ci
    - name: Upload coverage to Codecov
      if: ${{ env.USING_COVERAGE == matrix.python-version }}
      uses: codecov/codecov-action@v3      
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: .coverage
